.page {
  padding-top: 100px;
  font-variation-settings: var(--text-font-weight);
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  background:    
  repeating-linear-gradient(
    to left,
    var(--background-color),
    var(--background-color) 0 2px, 
    transparent  2px,
    transparent 4px
  ),
  repeating-linear-gradient(
    to bottom,
    var(--background-color-start),
    var(--background-color) 0 2px,
    transparent 2px,
    transparent 4px
  ),
  linear-gradient(
    to bottom,
    var(--background-color-start) 0.01%,
    var(--background-color-end)
  );
  background-attachment: fixed;
  background-size: cover;
}

/* Photo filters */
.grayscale {
  filter: grayscale(50%);
}

.hue-rotate {
  filter: hue-rotate(30deg);
}

.saturate {
  filter: saturate(360%);
}

.invert {
  filter: invert(80%);
}

.sepia {
  filter: sepia(80%);
}

.blur {
  filter: blur(10px);
}

.multi-filter {
  filter: saturate(350%) hue-rotate(90deg) grayscale(10%) invert(6%) blur(3px);
}

/* header */
.header {
  max-inline-size: 696px;
  font-family: var(--more-font-family);
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 100px;
  padding: 136px 0 20px;
  background: var(--background-color);
  border: 2px solid var(--border-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (width <= 376px) {
  .header {
    padding: 120px 0 25px;
  }
}

.header__link {
  color: var(--text-color);
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-decoration: none;
}

.header__link:focus {
  outline: none;
}

.header__title {
  color: var(--text-color);
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  margin: 20px 0 25px;
}

.theme-menu__list {
  font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  display: grid;
  gap: 12px;
  padding-inline-start: 20px;
  text-align: start;
}

@media (width <= 376px  ) {
  .theme-menu__list {
    padding-inline-start: 25px;
  }
}

.theme-menu__button {
  color: var(--text-color);
  position: relative;
  text-transform: uppercase;
  border: none;
  background: none;
  font-size: 14px;
  transition: opacity 0.3s ease;
  cursor: pointer;
}

/*Анимация кнопок в шапке*/
.theme-menu__button:not(:disabled)::after {
  content: "";
  display: block;
  background: currentColor;
  transition: transform 0.3s ease;
  transform: scaleX(0);
  transform-origin: left;
  inline-size: 100%;
  block-size: 2px;
}

/*При наведении*/
.theme-menu__button:hover {
  opacity: 0.6;
}

/*tab*/
.theme-menu__button:focus {
  outline: none;
  opacity: 0.6;
}

.theme-menu__button:focus-visible::after {
  transform: scaleX(1);
}

/*Недоступные кнопки*/
.theme-menu__button:disabled {
  opacity: 0.6;
  cursor: default;
  pointer-events: none;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: 0px;
  top: 0px;
  animation: arrow-animation 0.5s ease-in-out infinite alternate;
} 

/*main*/
main {
  display: flex;
  flex-direction: column;
  gap: 50px;
  color: var(--text-color);
  font-family: var(--main-font-family);
  margin-bottom: 103px;
}

@media (width < 376px) {
  main {
    margin-bottom: 100px;
  }
}

.card__title {
  font-size: 18px;
  padding: 4px 10px;
  font-variation-settings: var(--title-font-weight);
}

.card__section {
  border: 2px solid var(--border-color);
  background: var(--background-color);
}

.card__image-container {
  position: relative;
  border-top: 2px solid var(--border-color);
  border-bottom: 2px solid var(--border-color);
}

.card__image-label {
  font-family: var(--more-font-family);
  font-size: 14px;
  z-index: 1;
  opacity: 0.5;
  mix-blend-mode: hard-light;
  position: absolute;
  right: 25px;
  top: 27px;
  text-shadow:
  -1px 0 var(--background-color), 
  0 1px var(--background-color), 
  1px 0 var(--background-color), 
  0 -1px var(--background-color);
}

@supports((text-stroke: 1px var(--background-color)) or (-webkit-text-stroke: 1px var(--background-color))) {
.card__image-label {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
}
}

@media (width <= 376px) {
  .card__image-label {
    right: 11px;
    top: 22px;
  }
}

.card__image {
  display: block;
  object-fit: cover;
  object-position: center;
  inline-size: 100%;
  aspect-ratio: 1 / 1;
}

.card__text-container {
  display: flex;
  flex-direction: column;
  gap: 26px;
  padding: 25px;
  font-size: 18px;
  font-variation-settings: var(--text-font-weight);
}

.card__like-button-container  {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0px 25px 25px 0px;
  gap: 6px;
}

.card__icon-button {
  display: flex;
  padding: 0;
  background: transparent;
  cursor: pointer;
  border: 2px solid transparent;
}

/*tab для сердца*/
.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-color);
}

.card__like-button {
  width: 130px;
  padding: 10px 0;
}

.floppy__image {
  width: 21px;
  height: 21px;
  mix-blend-mode: difference;
}

@media (width < 376px) {
.floppy__image {
  width: 28px;
  height: 28px;
}
}

/* Dialog */
.dialog {
  font-family: var(--more-font-family);
  font-size: 14px;
  padding: 30px 26px;
  color: var(--text-color);
  background: var(--background-color);
  border: 2px solid var(--border-color);
}

@media (width < 376px) {
  .dialog {
    padding: 32px 38px;
  }
}

.dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.dialog:not([open]) {
  display: none;
  opacity: 0;
  pointer-events: none;
}

.dialog__container {
  display: flex;
  flex-direction: column;
  gap: 26px;
}

@media (width < 376px) {
  .dialog__container {
    gap: 28px;
  }
}

.dialog__main-container {
  display: flex;
  gap: 22px;
  align-items: center;
}

.dialog__text {
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 234px;
  width: 100%;
}

@media (width <= 376px) {
  .dialog__text {
    width: 80%;
  }
}

.dialog .floppy__image {
  width: 39px;
  height: 39px;
  mix-blend-mode: normal;
}

